In [1]:
import matplotlib.pyplot as plt
import time
import pandas as pd
from datetime import datetime

from operator import itemgetter
from os import path, system
from statistics import mode
import numpy as np

##Filenames
chicago = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\chicago.csv')

new_york_city = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\new_york_city.csv')
new_york_city = pd.DataFrame(new_york_city)

washington = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')
new_york_city.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

# Converting columns to datetime format##

In [2]:

#new_york_city['Start Time'] = pd.to_datetime(new_york_city['Start Time'])
#new_york_city['End Time'] = pd.to_datetime(new_york_city['Start Time'])
washington.iloc[:,1:3] = washington.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')
washington['Start Day'] = washington['Start Time'].dt.weekday_name
washington['Start Month'] = washington['Start Time'].dt.month
washington['Full Trip'] = washington[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
washington.head()
#new_york_city['Start_Time'] = new_york_city['Start Time'].dt.time
#new_york_city['Start_Date'] = new_york_city['Start Time'].dt.date
#new_york_city.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Start Day,Start Month,Full Trip
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,Wednesday,6,14th & Belmont St NW to 15th & K St NW
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,Saturday,3,Yuma St & Tenley Circle NW to Connecticut Ave ...
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,Tuesday,5,17th St & Massachusetts Ave NW to 5th & K St NW
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,Sunday,4,Constitution Ave & 2nd St NW/DOL to M St & Pen...
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,Saturday,6,Henry Bacon Dr & Lincoln Memorial Circle NW to...

In [3]:

gold = washington.loc[(washington['Start Day'] == 'Sunday') & (washington['Start Month'] == 6)]
tripmode = gold['Full Trip'].mode()
pop_hour = gold['Start Time'].dt.hour.mode()
pop_day = gold['Start Time'].dt.weekday_name.mode()

ut_size = dict(gold.groupby('User Type').size())


#%pylab inline
#import seaborn as sns

In [9]:
#washington.groupby(['Start Day', 'Start Month']).agg('size')

In [10]:
'''
#% pyplot inline
new_york_city['Start_Day'] = new_york_city['Start Time'].dt.weekday_name
new_york_city.head()
s= dict(new_york_city.groupby('Start_Day').size())
lists = sorted(s.items())
x,y = zip(*lists)
plt.plot(x,y)
plt.show()
lists
#plt.plot(*zip(*s))
'''

"\n#% pyplot inline\nnew_york_city['Start_Day'] = new_york_city['Start Time'].dt.weekday_name\nnew_york_city.head()\ns= dict(new_york_city.groupby('Start_Day').size())\nlists = sorted(s.items())\nx,y = zip(*lists)\nplt.plot(x,y)\nplt.show()\nlists\n#plt.plot(*zip(*s))\n"

In [11]:
#new_york_city['Start Time'].dt.weekday_name.mode()
#new_york_city['Start Time'].dt.month.mode()
#new_york_city['Start Time'].dt.hour.mode()
new_york_city['Start Station'].mode()
#new_york_city['Birth Year'].mode()
#new_york_city['Gender'].mode()

0    Pershing Square North
dtype: object

In [12]:
#new_york_city.groupby('Gender').size()
s = dict(new_york_city.groupby('Gender').size())
#s = np.array(new_york_city['Gender'])
#s['Female']
s

{'Female': 66783, 'Male': 204008}

In [ ]:
import pprint

from operator import itemgetter
station = dict(new_york_city.groupby('Start Station').size())
max_station = max(station.items(), key=itemgetter(1))#[0]
print(max_station)
station['Pershing Square North']

print("Station with Maximum Ridership is: {} with {} riders".format(max_station[0], max_station[1]))#station[max_station]))

# max(stats.items(), key=operator.itemgetter(1))[0]
#sorted(station, key=itemgetter(1))

In [ ]:
data = [('red', 1), ('blue', 1), ('red', 2), ('blue', 2)]
sorted(data, key=itemgetter(1))

In [ ]:
animal = ('dog', 'cat', 'dog')
max(animal, key=animal.count)

In [ ]:
Total_Trip_Duration = (new_york_city['Trip Duration'].cumsum(axis = 0)).iloc[-1]
Average_Trip_Duration = Total_Trip_Duration/len(new_york_city['Trip Duration'])
print(Total_Trip_Duration, Average_Trip_Duration)

In [ ]:
new_york_city['Start_End Station'] = new_york_city[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
new_york_city.head()
new_york_city['Start_End Station'].mode()

# Join Two Columns in Pandas DataFrame#

df['period'] = df[['Year', 'quarter']].apply(lambda x: ''.join(x), axis=1)

In [ ]:
import matplotlib.pyplot as plt
user_type = dict(new_york_city.groupby('User Type').size())
user_type
#x =user_type[0]
#y = user_type[1]
#plt.plot(x,y)
#plt.show()

In [ ]:
user_type['Customer']

In [ ]:
new_york_city['Birth Year'].min()
#new_york_city['Birth Year'].max()

In [6]:
lists = sorted(s.items())
x,y = zip(*lists)
plt.plot(x,y)
plt.show()
lists

NameError: name 's' is not defined

In [7]:
washington.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Start Day,Start Month,Full Trip
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber,Wednesday,6,14th & Belmont St NW to 15th & K St NW
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber,Saturday,3,Yuma St & Tenley Circle NW to Connecticut Ave ...
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber,Tuesday,5,17th St & Massachusetts Ave NW to 5th & K St NW
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer,Sunday,4,Constitution Ave & 2nd St NW/DOL to M St & Pen...
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber,Saturday,6,Henry Bacon Dr & Lincoln Memorial Circle NW to...

In [8]:
chicago.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,6/23/2017 15:09,6/23/2017 15:14,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,5/25/2017 18:19,5/25/2017 18:45,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,1/4/2017 8:27,1/4/2017 8:34,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,3/6/2017 13:49,3/6/2017 13:55,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,1/17/2017 14:53,1/17/2017 15:02,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0