In [117]:
import time
from datetime import datetime

from operator import itemgetter
from os import path, system
from statistics import mode
import numpy as np

##Filenames
chicago = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\chicago.csv')

new_york_city = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\new_york_city.csv')
new_york_city = pd.DataFrame(new_york_city)

washington = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')
new_york_city.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [120]:

new_york_city['Start Time'] = pd.to_datetime(new_york_city['Start Time'])
new_york_city['End Time'] = pd.to_datetime(new_york_city['Start Time'])
#new_york_city['Start_Time'] = new_york_city['Start Time'].dt.time
#new_york_city['Start_Date'] = new_york_city['Start Time'].dt.date
new_york_city.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Start_Time,Start_Date
0,5688089,2017-06-11 14:55:05,2017-06-11 14:55:05,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0,14:55:05,2017-06-11
1,4096714,2017-05-11 15:30:11,2017-05-11 15:30:11,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0,15:30:11,2017-05-11
2,2173887,2017-03-29 13:26:26,2017-03-29 13:26:26,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0,13:26:26,2017-03-29
3,3945638,2017-05-08 19:47:18,2017-05-08 19:47:18,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0,19:47:18,2017-05-08
4,6208972,2017-06-21 07:49:16,2017-06-21 07:49:16,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0,07:49:16,2017-06-21

In [191]:
#new_york_city['Start Time'].dt.weekday_name.mode()
#new_york_city['Start Time'].dt.month.mode()
#new_york_city['Start Time'].dt.hour.mode()
new_york_city['Start Station'].mode()
#new_york_city['Birth Year'].mode()
#new_york_city['Gender'].mode()

0    Pershing Square North
dtype: object

In [189]:
#new_york_city.groupby('Gender').size()
s = dict(new_york_city.groupby('Gender').size())
#s = np.array(new_york_city['Gender'])
s

{'Female': 66783, 'Male': 204008}

In [207]:
from operator import itemgetter
station = dict(new_york_city.groupby('Start Station').size())
max_station = max(station.items(), key=itemgetter(1))[0]
print(max_station)
station['Pershing Square North']

Pershing Square North

3069

In [ ]:
max(stats.items(), key=operator.itemgetter(1))[0]

In [59]:
animal = ('dog', 'cat', 'dog')
max(animal, key=animal.count)

'dog'