In [8]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
import warnings 
warnings.filterwarnings('ignore')

stats = pd.read_csv('C:\\Users\\nnagaraj\\Desktop\\Book1.csv')
stats

    30 Year Moving Average Unnamed: 1   Unnamed: 2
0                     year  MA Global  MA Memphis
1                     1779       8.14        15.28
2                     1780       8.16        15.09
3                     1781       8.16        15.05
4                     1782       8.24        15.22
5                     1783       8.21        15.20
6                     1784       8.19        15.18
7                     1785       8.16        15.23
8                     1786       8.14        15.22
9                     1787       8.11        15.22
10                    1788       8.16        15.28
11                    1789       8.17        15.29
12                    1790       8.20        15.35
13                    1791       8.18        15.34
14                    1792       8.16        15.33
15                    1793       8.19        15.40
16                    1794       8.19        15.41
17                    1795       8.20        15.43
18                    1796       8.19        15.41
19                    1797       8.20        15.43
20                    1798       8.26        15.49
21                    1799       8.29        15.50
22                    1800       8.32        15.52
23                    1801       8.34        15.52
24                    1802       8.36        15.53
25                    1803       8.37        15.53
26                    1804       8.37        15.55
27                    1805       8.35        15.53
28                    1806       8.35        15.55
29                    1807       8.35        15.56
..                     ...        ...          ...
218                   1996       8.84        16.29
219                   1997       8.85        16.29
220                   1998       8.89        16.37
221                   1999       8.91        16.43
222                   2000       8.93        16.46
223                   2001       8.95        16.47
224                   2002       8.99        16.49
225                   2003       9.01        16.48
226                   2004       9.04        16.50
227                   2005       9.07        16.52
228                   2006       9.11        16.59
229                   2007       9.14        16.62
230                   2008       9.16        16.65
231                   2009       9.19        16.68
232                   2010       9.21        16.70
233                   2011       9.22        16.73
234                   2012       9.25        16.78
235                   2013       9.27        16.86
236                    NaN        NaN          NaN
237                    NaN        NaN          NaN
238                    NaN        NaN          NaN
239                    NaN        NaN          NaN
240                    NaN        NaN          NaN
241                    NaN        NaN          NaN
242                    NaN        NaN          NaN
243                    NaN        NaN          NaN
244                    NaN        NaN          NaN
245                    NaN        NaN          NaN
246                    NaN        NaN          NaN
247                    NaN        NaN          NaN

[248 rows x 3 columns]

In [6]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [12]:
#Unzip the cast tuple into two names and heights tuples.

cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

names, heights = zip(*cast)
print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

In [15]:
#Use zip to transpose data from a 4-by-3 #matrix to a 3-by-4 matrix. There's actually a cool trick for this! Feel free to look at the solutions if you can't figure it out.

data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip(*data))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [31]:
#Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding height. For example, the first element of cast should change from "Barney Stinson" to "Barney Stinson 72".


cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# write your for loop here
for i, character in enumerate(cast):
    cast[i] = character + " " + str(heights[i])
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [32]:
### LIST COMPREHENSIONS###

In [35]:
#Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [43]:
#Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.


multiples_3 = [3*x for x in range(1,21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [50]:
#Use a list comprehension to create a list of names passed that only include those that scored at least 65.


scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [k for (k,v) in scores.items() if v >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [9]:
# write your function here
def readable_timedelta(num):
    day = num%7
    week = num//7
    return("{} week(s) and {} day(s)".format(week,day))
print(readable_timedelta(10))

1 week(s) and 3 day(s)

In [13]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs
buy_eggs(0)

TypeError: buy_eggs() takes 0 positional arguments but 1 was given

In [14]:
###LAMBDA EXPRESSION###

In [15]:
"""MAP applies all the functions in the input list
map(function_to_apply, list_of_inputs)
    
    items = [1, 2, 3, 4, 5]                 squared = list(lambda(x:x**2,items))
    squared = []
    for i in items:
        squared.append(i**2)                   """

'MAP applies all the functions in the input list\nmap(function_to_apply, list_of_inputs)\n    \n    items = [1, 2, 3, 4, 5]                 squared = list(lambda(x:x**2,items))\n    squared = []\n    for i in items:\n        squared.append(i**2)                   '

In [24]:
def my_range(x):
    i = 5
    while i < x:
        yield i
        i += 1
        
for x in my_range(10):
    print(x)

5
6
7
8
9

In [29]:
range(20)
result = list(filter(lambda x: x<10, range(1,20,2)))
print(result)

[1, 3, 5, 7, 9]

In [4]:
###ITERATORS###

lessons = ["Why Python Programming", "Data Types and Operators", "Control Flow", "Functions", "Scripting"]

def my_enumerate(iterable, start=0):
    count = start
    for element in iterable:
        yield count, element
        count +=1 

for i, lesson in my_enumerate(lessons, 1):
    print("Lesson {}: {}".format(i, lesson))

Lesson 1: Why Python Programming
Lesson 2: Data Types and Operators
Lesson 3: Control Flow
Lesson 4: Functions
Lesson 5: Scripting

In [5]:
###GENERATORS###

In [7]:
def chunker(iterable, size):
    for i in range(0, len(iterable), size):
        yield iterable[i:i + size]

for chunk in chunker(range(25), 4):
    print(list(chunk))

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]
[16, 17, 18, 19]
[20, 21, 22, 23]
[24]

In [8]:
### EDITING A PYTHON SCRIPT ###

In [11]:
how_many_snakes = 1
snake_string = """
Welcome to Python3!

             ____
            / . .\\
            \  ---<
             \  /
   __________/ /
-=:___________/

<3, Juno
"""


print(snake_string * how_many_snakes)

Welcome to Python3!

             ____
            / . .\
            \  ---<
             \  /
   __________/ /
-=:___________/

<3, Juno

In [12]:
name = input('Enter a name')
print('Hello', name.title())

Enter a nameNagashri Nagaraj
Hello Nagashri Nagaraj

In [19]:
num = int(float(input('Please input a number: ')))
num += 20
print(num)

Please input a number: 2.3
22

In [23]:
result = eval(input("Please enter an expression that is bugging you!! "))
print("The answer that is playing hard to get is {}".format(result))

Please enter an expression that is bugging you!! 2**3
The answer that is playing hard to get is 8

In [37]:
"""

stu = []
stu.append(input("Enter Student's Name: "))
stu.append(float(input("Enter Total Missing Assignment: ")))
cur_grade = float(input("Enter Current Grade of Student: "))
stu.append((cur_grade + float(stu[1]) * 2))
print (stu)

"""

Enter Student's Name: fhg
Enter Total Missing Assignment: 4
Enter Current Grade of Student: 88
['fhg', 4.0, 96.0]

In [6]:

stu = [] 
while True:
    
    stu.append(input("Enter student's Name: "))
    stu.append(float(input("Enter Total Missing Assignment: ")))
    stu.append(float(input("Enter Current Grade of Student: ")) + float(stu[1] * 2))

    more = input("Another Student (Yes/No): ")
    
    if more.upper() != "YES":
        break
print(stu)

Enter student's Name: asds
Enter Total Missing Assignment: 12
Enter Current Grade of Student: 12
Another Student (Yes/No): yes
Enter student's Name: sdfsf
Enter Total Missing Assignment: 1.2
Enter Current Grade of Student: 1.2
Another Student (Yes/No): yes
Enter student's Name: oioj
Enter Total Missing Assignment: 54
Enter Current Grade of Student: 3
Another Student (Yes/No): no
['asds', 12.0, 36.0, 'sdfsf', 1.2, 25.2, 'oioj', 54.0, 27.0]

In [1]:
##WORKING##

stu = {} 
while True:
    
    name = ""
    list_values = []
    name = input("Enter student's Name: ")
    if len(name) == 0:
        name = input("Enter student's Name: ")
        more = input("Do you want to exit? (Yes/No): ")
        if more.upper() == "YES":
            break
    
    missing_assignment = input("Enter Total Missing Assignment: ")
    current_grade = input("Enter Current Grade of Student: ")
    
    stu.update({name: (missing_assignment, (float(current_grade) + float(missing_assignment)*2))})

    more = input("Another Student (Yes/No): ")
    
    if more.upper() != "YES":
        break
print(stu)

Enter student's Name: asd
Enter Total Missing Assignment: 12
Enter Current Grade of Student: 12
Another Student (Yes/No): c
{'asd': ('12', 36.0)}

In [3]:
stu['asd']

('12', 36.0)

In [5]:
#Dictionary

stu = {} 
while True:
        
    stu.update(name = input("Enter student's Name: "))
    stu.update(missing_assignment = input("Enter Total Missing Assignment: "))
    stu.update(current_grade = input("Enter Current Grade of Student: "))
       
    more = input("Another Student (Yes/No): ")
    
    if more.upper() != "YES":
        break
print(stu)

Enter student's Name: Jai
Enter Total Missing Assignment: 2
Enter Current Grade of Student: 88
Another Student (Yes/No): Yes
Enter student's Name: Ganesha
Enter Total Missing Assignment: 1
Enter Current Grade of Student: 99
Another Student (Yes/No): No
{'name': 'Ganesha', 'missing_assignment': '1', 'current_grade': '99'}

In [9]:
print(stu['current_grade'])

99

In [6]:
stu = {} 
while True:
    
  
    name = input("Enter student's Name: ")
    if len(name) == 0:
        name = input("Enter student's Name: ")
        more = input("Do you want to exit? (Yes/No): ")
        if more.upper() == "YES":
            break
    
    missing_assignment = input("Enter Total Missing Assignment: ")
    current_grade = input("Enter Current Grade of Student: ")
    
    stu.update({name: (missing_assignment, (float(current_grade) + float(missing_assignment)*2))})

    more = input("Another Student (Yes/No): ")
    
    if more.upper() != "YES":
        break
print(stu)

Enter student's Name: Jai
Enter Total Missing Assignment: 4
Enter Current Grade of Student: 88
Do you want to exit? (Yes/No): no
Another Student (Yes/No): Sudarshana
{'Jai': ('4', 96.0)}