In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import time
import math
import pandas as pd
from datetime import datetime
from statistics import mode
import numpy as np

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [123]:
def load_file(city):

    data_file_path = 'c:\\Users\\nnagaraj\\Desktop\\bike_share\\'+city+'.csv'
    city_csv_to_df = pd.read_csv(data_file_path)
    df = pd.DataFrame(city_csv_to_df)
    df.iloc[:,1:3] = df.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')
    df['Start Day'] = df['Start Time'].dt.weekday_name
    df['Start Month'] = df['Start Time'].dt.month
    df['Full Trip'] = df[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
    
    return df


'''
new_york_city = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\new_york_city.csv')
nyc = pd.DataFrame(new_york_city)
nyc.iloc[:,1:3] = nyc.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')
nyc['Start Day'] = nyc['Start Time'].dt.weekday_name
nyc['Start Month'] = nyc['Start Time'].dt.month
nyc['Full Trip'] = nyc[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
washington = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')
washington = pd.DataFrame(new_york_city)
washington.iloc[:,1:3] = washington.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')
washington['Start Day'] = washington['Start Time'].dt.weekday_name
washington['Start Month'] = washington['Start Time'].dt.month
washington['Full Trip'] = washington[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
#washington.head()

chicago = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')
chicago = pd.DataFrame(new_york_city)
chicago.iloc[:,1:3] = chicago.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')
chicago['Start Day'] = chicago['Start Time'].dt.weekday_name
chicago['Start Month'] = chicago['Start Time'].dt.month
chicago['Full Trip'] = chicago[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)
#chicago.head()
'''

"\nnew_york_city = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\new_york_city.csv')\nnyc = pd.DataFrame(new_york_city)\nnyc.iloc[:,1:3] = nyc.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')\nnyc['Start Day'] = nyc['Start Time'].dt.weekday_name\nnyc['Start Month'] = nyc['Start Time'].dt.month\nnyc['Full Trip'] = nyc[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)\nwashington = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')\nwashington = pd.DataFrame(new_york_city)\nwashington.iloc[:,1:3] = washington.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')\nwashington['Start Day'] = washington['Start Time'].dt.weekday_name\nwashington['Start Month'] = washington['Start Time'].dt.month\nwashington['Full Trip'] = washington[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)\n#washington.head()\n\nchicago = pd.read_csv('c:\\Users\\nnagaraj\\Desktop\\bike_share\\washington.csv')\nchicago = pd.DataFrame(new_york_city)\nchicago.iloc[:,1:3] = chicago.iloc[:,1:3].apply(pd.to_datetime, errors = 'coerce')\nchicago['Start Day'] = chicago['Start Time'].dt.weekday_name\nchicago['Start Month'] = chicago['Start Time'].dt.month\nchicago['Full Trip'] = chicago[['Start Station', 'End Station']].apply(lambda x: ' to '.join(x), axis = 1)\n#chicago.head()\n"

In [124]:
def get_city(firstRequest=True):

    if firstRequest:
        city = input('\nHello! Let\'s explore some US bikeshare data!\n'
                 'Would you like to see data for Chicago, New York, or Washington?\n')
    else:
        city = input('\n Sorry could not process! Please check the spelling\n')

    file_name = ''
    if city.lower() == 'new york':
        file_name = 'new_york_city'
    elif city.lower() == 'washington':
        file_name = 'washington'
    elif city.lower() == 'chicago':
        file_name = 'chicago'
    else:
        get_city(False)

    return file_name    


def get_time_period():

    i=0
    lst = ['month', 'day', 'both', 'none']

    while (i<=3):
        time_period = input('\nWould you like to filter the data by Month, Day, Both or None\n')

        if time_period in lst:
            print('You have selected {}'.format(time_period))
            return time_period
        else:
            i+=1
            if (i==3):
                quit = ('\nDo you want to comeback later? Y/N: ')
                if (quit).lower() == 'n':
                    i=0
                else:
                    print('Thank you for visiting! Have a great day!!')
                    


def get_month():

    i =0
    lst = [1,2,3,4,5,6]

    while (i<=3):

        try:
            month = int(input('\nChoose a month as an integer - January:1, February:2, March:3, April:4, May:5, June:6\n'))
        except ValueError:
            print('\nPlease enter an integer corresponding to the month\n')  
        else:
            if month in lst:
                print('You have selected {}'.format(month))
                return month
            else:
                i+=1
                if i==3:
                    quit = input('\nDo you want to comeback later? Y/N: ')
                    if (quit).lower() == 'n':
                        i == 0
                    else:
                        print("Thank you for visiting! Have a great day!!")
                        

def get_day():

    i=0
    lst = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']


    while (i<=3):
        day = input('\nPlease Select a day of the week - Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday\n')

        if not(day in lst):
            i+=1
            if (i==3):
                quit = input('\nDo you want to comeback later? Y/N: ')
                if (quit).lower == 'n':
                    i = 0
                else:
                    print("Thank you for visiting! Have a great day!!")
                    
        else:
            print('You have selected {}'.format(day))
            return day

In [118]:
def main():
    city = get_city()
    time_period = get_time_period()
    month = get_month()
    day = get_day()
    print(city, month, day, time_period)
    if (len(city) > 0 and len(time_period) > 0 and  month > 0 and len(day) > 0):
        get_insights(city, time_period, month, day)

In [126]:
def get_insights(city, time_period, month, day):

    city_data = load_file(city)
    
    if (time_period).lower() == 'month':
        city_data = city_data.loc[(city_data['Start Month'] == month)]
    elif (time_period).lower() == 'day':
        city_data = city_data.loc[(city_data['Start Day'] == day)]
    elif (time_period).lower() == 'both':
        city_data = city_data.loc[(city_data['Start Month'] == month) & (city_data['Start Day']== day)]
    elif (time_period).lower() == 'none':
        #filename_analysis = ''
        print('no input recevied, showing new york stats fior Sunday, January')
   
    print('Most Popular Trip for your filter is {}'.format(city_data['Full Trip'].mode()))
    
    print('Most Popular Hour for your filter is {}:00'.format(city_data['Start Time'].dt.hour.mode()))

    #popular_day = city_data['Start Time'].dt.weekday_name.mode()
    print('Most Popular Day for your City is {}'.format(city_data['Start Time'].dt.weekday_name.mode()))

    #total_trip_duration = (city_data['Trip Duration'].cumsum(axis = 0)).iloc[-1]
    print('Total Trip Duration for your filter is {}'.format((city_data['Trip Duration'].cumsum(axis = 0)).iloc[-1]))

    #average_trip_duration = total_trip_duration/len(filename_analysis['Trip Duration'])
    #print('Average Trip Duration for your filter is {}'.format((city_data['Trip Duration'].cumsum(axis = 0)).iloc[-1])/len(city_data['Trip Duration']))


    #popular_birth_year = city_data['Birth Year'].mode()
    print('Popular Birth Year for your filter is {}'.format(city_data['Birth Year'].mode()))

    #young_birth_year = city_data['Birth Year'].min()
    print('Youngest person birth year is {}'.format(city_data['Birth Year'].min()))

    #oldest_birth_year = city_data['Birth Year'].max()
    print('Oldest person birth year is {}'.format(city_data['Birth Year'].max()))

    sns.factorplot('User Type', data = city_data, kind='count')

    sns.factorplot('Start Day', data=city_data, kind='count', size=8 )
    ax = plt.gca()
    for p in ax.patches:
        ax.text(p.get_x() + p.get_width()/2., p.get_height(),'%d' % int(p.get_height()), fontsize=12, ha='center',va='bottom')
    plt.show()

In [ ]:
main()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago

Would you like to filter the data by Month, Day, Both or None
month
You have selected month

Choose a month as an integer - January:1, February:2, March:3, April:4, May:5, June:6
1
You have selected 1

Please Select a day of the week - Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
sunday
You have selected sunday
chicago 1 sunday month

In [38]:
nyc['Full Trip'].mode()

0    E 7 St & Avenue A to Cooper Square & E 7 St
dtype: object